.about{
    padding: 3rem 2rem;
    background-color: rgb(240, 239, 234);
    color: #000000;
    text-align: center;
    max-width: 800px;
    margin: auto;
}

.about h1{
           color: rgb(233, 78, 17);
       font-size: 2.5rem;
       margin-bottom: 1rem;
}

.about p{
    font-size: 1rem;
    line-height: 1.8;
    margin-bottom: 1.5rem;
}